/* Cabeçalho fixo no canto superior esquerdo */
.header {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  z-index: 10;
}

.header-info {
  line-height: 1.5;
}

.header-icon {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
